In [2]:
import pandas as pd
import sqlalchemy
import pprint
import psycopg2
import matplotlib.pyplot as plt
%matplotlib inline
from sqlalchemy import create_engine
from config import password

ImportError: cannot import name 'password'

In [ ]:
# Connect to database
engine = create_engine(f'postgresql+psycopg2://postgres:{password}@localhost:5432/EEDatabase')

In [ ]:
# Import salaries into Pandas
Salaries = pd.read_sql('SELECT emp_no, salary FROM Salaries', engine)
Salaries.head

In [ ]:
# Import employee titles into Pandas
Titles = pd.read_sql('SELECT emp_no, title FROM Titles', engine)
Titles.head()